body {
	margin: 0px;
	background-color: #000000;
	min-height: 800px;
	overflow: hidden;
}

#main_scene {
	background: url('img/fond-board.png');
	background-repeat:no-repeat;
	background-position:center; 
	margin: 0px;
	padding: 0px;
	display: inline-block;
}

#container {
	text-align: center;
	margin: 0px;
	padding: 0px;
}
