body {
	margin: 0px;
	background-color: #000007;
	min-height: 800px;
	overflow: hidden;
}

#main_scene {
	margin: 0px;
	padding: 0px;
}

#container {
	text-align: center;
	margin: 0px;
	padding: 0px;
}