/*

	Cryptris.css
	------------
	@author Mathieu Jouhet (@daformat) - Digital Cuisine (digitalcuisine.fr)
	@lastmod 2013-09-21

*/

html,
body {
  padding: 0;
  margin: 0;
  font-family: 'Geo', sans-serif;
  font-size: 20px;
  -webkit-font-smoothing: antialiased;
  -webkit-hyphens: auto;
     -moz-hyphens: auto;
          hyphens: auto;
  color: #eee;
  -webkit-text-size-adjust: none;
  text-shadow: 0 0 1px rgba(100, 100, 255, 0.5);
  word-wrap: break-word;
  background: #000;
}

ul {
  list-style-type: none;
}

a {
  color: #5eded3;
  text-decoration: none;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-size: 31px;
  font-weight: normal;
  color: #0091bb;
  text-transform: uppercase;
}

h3 {
  margin-bottom: -10px;
}

img {
  border: none;
}

ul {
  padding: 0;
  list-style-type: none;
}

/*
	General stuff
*/

.wrapper {
  position: absolute;
  display: table;
  width: 100%;
  height: 100%;
  min-height: 700px;
  overflow-x: hidden;
  overflow-y: auto;
  text-align: center;
}

.wrapper.block {
  display: block;
}

.white {
  background: #fff;
}

.bg-circuits {
  font-weight: normal;
  color: #eee;
  background: url(../img/bg-circuits.png) center no-repeat;
  -webkit-background-size: cover;
     -moz-background-size: cover;
       -o-background-size: cover;
          background-size: cover;
}

.bg-institut {
  font-weight: normal;
  color: #eee;
  background: url(../img/bg-institut.jpg) center no-repeat;
  -webkit-background-size: cover;
     -moz-background-size: cover;
       -o-background-size: cover;
          background-size: cover;
}

.hidden {
  display: none;
  opacity: 0;
}

/*
	Utils
*/

.button {
  position: relative;
  top: 0;
  padding: 10px 28px;
  margin: 1em;
  font-family: 'Geo', sans-serif;
  font-size: 20px;
  -webkit-font-smoothing: antialiased;
  color: #eee;
  text-transform: uppercase;
  cursor: pointer;
  background-color: #0071bb;
  border: none;
  border-radius: 0;
  box-shadow: 0 3px 0 #002e4d;
  transition: all 0.15s ease-in;
  -webkit-appearance: none;
}

.button:active {
  -webkit-transform: translateY(2px);
          transform: translateY(2px);
  box-shadow: 0 1px 0 #002e4d;
}

.button.red {
  background-color: #9c0500;
  box-shadow: 0 3px 0 #440500;
}

.button.red:active {
  box-shadow: 0 1px 0 #440500;
}

.characters-left {
  margin: 15px 10px 30px;
  line-height: 46px;
  color: #0091bb;
}

.lcd {
  display: inline-block;
  width: 141px;
  height: 46px;
  margin: 10px;
  font-family: 'Quantico', sans-serif;
  font-size: 22px;
  font-weight: bold;
  color: #eee;
  text-shadow: 0px 0px 10px #00f3ff;
  background: url(../img/lcd.png) center no-repeat;
}

.count.red {
  color: #fdd;
  text-shadow: 0 0 10px #fc56fc;
}

.arrow {
  margin: 0.5em;
  font-size: 20px;
  line-height: 10px;
  color: #0091bb;
}

.vertical-centering {
  display: table-cell;
  overflow-x: hidden;
  vertical-align: middle;
}

/*
	Home screen
*/

/* Logos */

.cryptris-logo-large {
  width: 80%;
  max-width: 1090px;
  min-width: 500px;
  padding-top: 60px;
  margin-top: 0;
  margin-bottom: -50px;
}

.logo-digital-cuisine-medium {
  margin: 2% 0;
}

.logo-inria {
  position: absolute;
  top: 30px;
  right: 35px;
  width: 157px;
  max-width: 157px;
}

.logo-inria-medium {
  width: 100%;
}

/* Menu */

.main-menu {
  display: inline-block;
  width: 80%;
  max-width: 450px;
  padding: 10px 0;
  font-size: 31px;
  color: #0091bb;
  text-transform: uppercase;
  background: #000;
  background: rgba(0, 0, 0, 0.3);
  border-top: 2px solid #eee;
  border-bottom: 2px solid #eee;
  fon-weight: 400;
}

.main-menu a {
  color: inherit;
}

.main-menu li {
  padding: 5px 0;
  margin: 2px 0;
  transition: all 0.25s ease;
}

.main-menu li a {
  display: inline-block;
  width: 100%;
}

.main-menu .arrow {
  margin: 0.5em;
  font-size: 20px;
  line-height: 10px;
  color: #0091bb;
  text-shadow: none;
  opacity: 0;
  visibility: hidden;
  transition: all 0.25s ease;
}

.main-menu .active .arrow,
.main-menu li:hover .arrow {
  opacity: 1;
  visibility: visible;
}

.main-menu .active,
.main-menu li:hover {
  color: #fff;
  text-shadow: 0px 0px 10px #00f3ff;
  background-color: #000;
}

/* Social icons */

.social-icons {
  position: absolute;
  right: 35px;
  bottom: 35px;
}

.social-icons a {
  position: relative;
  margin: 4px;
}

.social-icons a img {
  transition: all 0.25s ease;
}

.social-icons a:hover img {
  -webkit-transform: translateY(-10px) rotate(360deg);
          transform: translateY(-10px) rotate(360deg);
}

/*
	Scrollable content with gradient
*/

.overflow-gradient-top {
  position: absolute;
  top: 0;
  width: 100%;
  height: 70px;
  /* IE9 SVG, needs conditional override of 'filter' to 'none' */

  background: url(data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiA/Pgo8c3ZnIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyIgd2lkdGg9IjEwMCUiIGhlaWdodD0iMTAwJSIgdmlld0JveD0iMCAwIDEgMSIgcHJlc2VydmVBc3BlY3RSYXRpbz0ibm9uZSI+CiAgPGxpbmVhckdyYWRpZW50IGlkPSJncmFkLXVjZ2ctZ2VuZXJhdGVkIiBncmFkaWVudFVuaXRzPSJ1c2VyU3BhY2VPblVzZSIgeDE9IjAlIiB5MT0iMCUiIHgyPSIwJSIgeTI9IjEwMCUiPgogICAgPHN0b3Agb2Zmc2V0PSIwJSIgc3RvcC1jb2xvcj0iIzAwMDAwMCIgc3RvcC1vcGFjaXR5PSIxIi8+CiAgICA8c3RvcCBvZmZzZXQ9IjEwMCUiIHN0b3AtY29sb3I9IiMwMDAwMDAiIHN0b3Atb3BhY2l0eT0iMCIvPgogIDwvbGluZWFyR3JhZGllbnQ+CiAgPHJlY3QgeD0iMCIgeT0iMCIgd2lkdGg9IjEiIGhlaWdodD0iMSIgZmlsbD0idXJsKCNncmFkLXVjZ2ctZ2VuZXJhdGVkKSIgLz4KPC9zdmc+);
  background: -moz-linear-gradient(top, #000000 0%, rgba(0, 0, 0, 0) 100%);
  /* FF3.6+ */

  background: -webkit-gradient(linear, left top, left bottom, color-stop(0%, #000000), color-stop(100%, rgba(0, 0, 0, 0)));
  /* Chrome,Safari4+ */

  background: -webkit-linear-gradient(top, #000000 0%, rgba(0, 0, 0, 0) 100%);
  /* Chrome10+,Safari5.1+ */

  background: -o-linear-gradient(top, #000000 0%, rgba(0, 0, 0, 0) 100%);
  /* Opera 11.10+ */

  background: -ms-linear-gradient(top, #000000 0%, rgba(0, 0, 0, 0) 100%);
  /* IE10+ */

  background: linear-gradient(to bottom, #000000 0%, rgba(0, 0, 0, 0) 100%);
  /* W3C */

  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#000000', endColorstr='#00000000', GradientType=0);
  /* IE6-8 */

}

.overflow-gradient-bottom {
  position: absolute;
  bottom: 0;
  width: 100%;
  height: 70px;
  /* IE9 SVG, needs conditional override of 'filter' to 'none' */

  background: url(data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiA/Pgo8c3ZnIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyIgd2lkdGg9IjEwMCUiIGhlaWdodD0iMTAwJSIgdmlld0JveD0iMCAwIDEgMSIgcHJlc2VydmVBc3BlY3RSYXRpbz0ibm9uZSI+CiAgPGxpbmVhckdyYWRpZW50IGlkPSJncmFkLXVjZ2ctZ2VuZXJhdGVkIiBncmFkaWVudFVuaXRzPSJ1c2VyU3BhY2VPblVzZSIgeDE9IjAlIiB5MT0iMCUiIHgyPSIwJSIgeTI9IjEwMCUiPgogICAgPHN0b3Agb2Zmc2V0PSIwJSIgc3RvcC1jb2xvcj0iIzAwMDAwMCIgc3RvcC1vcGFjaXR5PSIwIi8+CiAgICA8c3RvcCBvZmZzZXQ9IjEwMCUiIHN0b3AtY29sb3I9IiMwMDAwMDAiIHN0b3Atb3BhY2l0eT0iMSIvPgogIDwvbGluZWFyR3JhZGllbnQ+CiAgPHJlY3QgeD0iMCIgeT0iMCIgd2lkdGg9IjEiIGhlaWdodD0iMSIgZmlsbD0idXJsKCNncmFkLXVjZ2ctZ2VuZXJhdGVkKSIgLz4KPC9zdmc+);
  background: -moz-linear-gradient(top, rgba(0, 0, 0, 0) 0%, #000000 100%);
  /* FF3.6+ */

  background: -webkit-gradient(linear, left top, left bottom, color-stop(0%, rgba(0, 0, 0, 0)), color-stop(100%, #000000));
  /* Chrome,Safari4+ */

  background: -webkit-linear-gradient(top, rgba(0, 0, 0, 0) 0%, #000000 100%);
  /* Chrome10+,Safari5.1+ */

  background: -o-linear-gradient(top, rgba(0, 0, 0, 0) 0%, #000000 100%);
  /* Opera 11.10+ */

  background: -ms-linear-gradient(top, rgba(0, 0, 0, 0) 0%, #000000 100%);
  /* IE10+ */

  background: linear-gradient(to bottom, rgba(0, 0, 0, 0) 0%, #000000 100%);
  /* W3C */

  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#00000000', endColorstr='#000000', GradientType=0);
  /* IE6-8 */

}

/*
	Credits, about, bonus, share
*/

.text-content {
  display: inline-block;
  width: 80%;
  max-width: 700px;
  margin: 40px 10% 70px;
}

.text-content.no-max-width {
  max-width: none;
}

.credits-logos img {
  margin: 15px 20px;
}

.btn-close {
  position: absolute;
  top: 30px;
  right: 35px;
  width: 39px;
  height: 38px;
}

/*
 Share
*/

.share .cryptris-logo-medium {
  width: 80%;
  max-width: 724px;
  margin-top: 1%;
}

.share .text-content {
  margin-top: 5px;
  margin-bottom: 50px;
}

.share h2 {
  margin-top: 0;
}

.share textarea {
  width: 80%;
  height: 3.5em;
  max-width: 530px;
  padding: 15px 20px;
  overflow-y: auto;
  font-family: inherit;
  font-size: 20px;
  -webkit-font-smoothing: antialiased;
  font-weight: normal;
  color: #eee;
  text-shadow: inherit;
  background-color: #000;
  background-color: rgba(0, 0, 0, 0.4);
  border: 10px solid #0071bb;
  border: 10px solid rgba(0, 150, 237, 0.2);
  border-radius: 3px;
  -webkit-box-shadow: -1px -1px 0 rgba(15, 155, 255, 0.3) inset, 1px 1px 0 rgba(0, 0, 0, 0.5) inset, -1px -1px 0 rgba(15, 155, 255, 0.3), 1px 1px 0 rgba(0, 0, 0, 0.5);
          box-shadow: -1px -1px 0 rgba(15, 155, 255, 0.3) inset, 1px 1px 0 rgba(0, 0, 0, 0.5) inset, -1px -1px 0 rgba(15, 155, 255, 0.3), 1px 1px 0 rgba(0, 0, 0, 0.5);
  transition: border-color 0.35s ease, box-shadow 0.45s ease;
  resize: none;
  -webkit-appearance: none;
}

.share textarea.warning {
  border-color: #9c0500;
  border-color: rgba(255, 55, 50, 0.5);
  -webkit-box-shadow: -1px -1px 0 rgba(255, 155, 155, 0.3) inset, 1px 1px 0 rgba(0, 0, 0, 0.5) inset, -1px -1px 0 rgba(255, 155, 155, 0.3), 1px 1px 0 rgba(0, 0, 0, 0.1), 0 0 25px #9c0500;
          box-shadow: -1px -1px 0 rgba(255, 155, 155, 0.3) inset, 1px 1px 0 rgba(0, 0, 0, 0.5) inset, -1px -1px 0 rgba(255, 155, 155, 0.3), 1px 1px 0 rgba(0, 0, 0, 0.1), 0 0 25px #9c0500;
}

.share fieldset {
  padding: 0;
  margin: 0;
  border: none;
}

.share textarea:focus {
  outline: none;
}

.share #step2 {
  position: absolute;
  margin-left: 200%;
}

.share .encrypted-message {
  width: 100%;
}

.share .encrypted-message a {
  color: #eee;
}

.share .encrypted-message a img {
  margin-right: 10px;
  vertical-align: middle;
}

.share .encrypted-message .message {
  display: inline-block;
  width: 60%;
  text-align: center;
  vertical-align: text-top;
}

.share .encrypted-message .message .img {
  width: 100%;
  max-width: 456px;
}

.share .encrypted-message .social-actions {
  display: inline-block;
  text-align: left;
  vertical-align: text-top;
}

.share .encrypted-message .social-actions p {
  margin: 28px;
}

/*
	New login screen
*/

.logo-inria-pixelated {
  margin: -20px;
  margin-bottom: 80px;
}

.new-login label {
  display: block;
  font-size: 27px;
  color: #0091bb;
}

.new-login fieldset {
  display: inline-block;
  width: 80%;
  max-width: 430px;
  padding: 10px 0;
  margin: 10px;
  border: 0;
  border-top: 1px solid #eee;
  border-bottom: 1px solid #eee;
}

.new-login .button {
  padding: 8px 20px;
  margin: 0 -0.5em 0 0.5em;
}

.new-login input[type=text] {
  width: 75%;
  padding: 0;
  margin: 0;
  font-family: "Geo", sans-serif;
  font-size: 33px;
  color: #fff;
  background: none;
  border: none;
}

.new-login input[type=text]:focus {
  outline: none;
}

.new-login .arrow {
  margin: 0.5em 0.5em 0.5em -0.5em;
}

.inrios {
  position: absolute;
  bottom: 10px;
  width: 100%;
  margin: 40px 0;
  font-size: 33px;
  text-align: center;
}

/*
	Prompt and cursor
*/

.prompt {
  font-size: 33px;
  text-transform: uppercase;
}

.prompt .arrow {
  font-size: 23px;
}

.cursor {
  color: #0091bb;
}

/*
	Dialogs
*/

.dialog {
  position: relative;
  display: inline-block;
  width: 860px;
  height: 278px;
  line-height: 30px;
  color: #284c63;
  text-shadow: none;
  background-color: #e5e5e5;
  box-shadow: 5px 10px 0 rgba(0, 0, 0, 0.3);
}

.dialog.with-avatar {
  text-align: left;
}

.dialog h2 {
  display: inline-block;
  width: auto;
  padding: 3px 20px;
  margin: 28px 0 8px 0;
  font-family: "Quantico", sans-serif;
  font-size: 22px;
  font-weight: bold;
  color: #eee;
  background: #0071bb;
}

.dialog .avatar {
  float: left;
  padding: 10px;
  margin-right: 20px;
  line-height: 0;
  background: #fff;
}

.dialog .content {
  padding: 8px 42px;
}

.dialog .content img.keyboard-key {
  position: relative;
  top: -3px;
  line-height: 1px;
  vertical-align: text-top;
}

.dialog em {
  font-style: normal;
  color: #0071bb;
}

.dialog .controls {
  position: absolute;
  right: 23px;
  bottom: 0;
  width: 100%;
  height: 60px;
  text-align: right;
}

.dialog .button {
  padding: 8px 20px;
}

.dialog .button:active {
  top: 2px;
}

.dialog ul {
  display: inline-block;
  margin: 5px;
}

.dialog li {
  padding: 5px 0;
  margin: 2px 0;
  transition: all 0.25s ease;
}

.dialog li a {
  position: relative;
  top: 0;
  display: inline-block;
  padding: 5px 14px;
  margin: 2px;
  font-family: 'Geo', sans-serif;
  font-size: 26px;
  -webkit-font-smoothing: antialiased;
  text-transform: uppercase;
  cursor: pointer;
  border: none;
  transition: border 0.15s ease-in, top 0.15s ease-in;
}

.dialog .arrow {
  margin: 0.5em;
  font-size: 20px;
  line-height: 10px;
  color: #0091bb;
  text-shadow: none;
  opacity: 0;
  visibility: hidden;
  transition: all 0.25s ease;
}

.dialog.player h2 {
  display: inline-block;
  margin: 28px 0 8px 0;
  font-family: "Quantico", sans-serif;
  font-weight: bold;
  color: #0071bb;
  background: #fff;
}

.dialog li a {
  color: #284c63;
  text-shadow: none;
  transition: all 0.25s ease;
}

.dialog .active .arrow,
.dialog li:hover .arrow {
  opacity: 1;
  visibility: visible;
}

.dialog .active,
.dialog li:hover {
  text-shadow: 0px 0px 10px #00f3ff;
}

.dialog li.active a {
  color: #eee;
  background-color: #0071bb;
  box-shadow: 0 3px 0 #002e4d;
}

/*
	Dialog for entangled cables
*/

.dialog.cables {
  width: 864px;
  height: 560px;
  text-align: left;
}

.dialog.cables h2 {
  display: inline-block;
  margin: 28px 0 8px 0;
  margin-left: 20px;
  font-family: "Quantico", sans-serif;
  font-weight: bold;
  color: #0071bb;
  background: #fff;
}

.dialog.cables .left {
  position: relative;
  display: inline-block;
}

.dialog.cables .right {
  position: relative;
  float: right;
}

.dialog.cables .content {
  padding: 10px;
  margin: 5px 20px 0;
  background: #93bcd7;
  border: solid 7px #b8cfde;
}

.dialog.cables .numbers,
.dialog.cables .jacks {
  margin-top: 0;
}

.dialog.cables .numbers li,
.dialog.cables .jacks li {
  height: 52px;
}

.dialog.cables .numbers li {
  position: relative;
  top: 9px;
}

.dialog.cables .numbers {
  position: absolute;
  top: 0;
  font-family: "Quantico", sans-serif;
  font-size: 23px;
  font-weight: bold;
  line-height: 0;
  color: #eee;
  text-shadow: 0px 0px 10px #00f3ff;
}

.dialog.cables .numbers .unplugged {
  color: #678497;
  text-shadow: none;
}

.dialog.cables .right .numbers {
  right: 0;
}

.dialog.cables .right img {
  margin-right: 42px;
  margin-left: 2px;
}

.dialog.cables .left img {
  margin-right: 1px;
  margin-left: 42px;
}

.dialog.cables .jacks {
  position: absolute;
  top: 0;
  line-height: 0;
  color: #eee;
}

.dialog.cables .jacks a {
  padding: 0;
  margin: 0;
  font-size: 23px;
  background: url(../img/entangled-cables-outlet.png) center no-repeat;
}

.dialog.cables .left .jacks {
  right: -68px;
}

.dialog.cables .left .jacks a {
  background-position: 100% 40%;
}

.dialog.cables .left .jacks a img {
  position: relative;
  transition: left 0.25s ease-in;
}

.dialog.cables .left .jacks a:hover img {
  left: -3px;
}

.dialog.cables .left .jacks a:active img,
.dialog.cables .left .jacks .unplugged a img {
  left: -15px;
}

.dialog.cables .right .jacks {
  left: -68px;
}

.dialog.cables .right .jacks a {
  background-position: 0 40%;
}

.dialog.cables .right .jacks a img {
  position: relative;
  transition: right 0.25s ease-in;
}

.dialog.cables .right .jacks a:hover img {
  right: -3px;
}

.dialog.cables .right .jacks a:active img,
.dialog.cables .right .jacks .unplugged a img {
  right: -15px;
}

/*
	Animations
*/

@-webkit-keyframes blinking {
  0% {
    opacity: 0;
  }
  45% {
    opacity: 0;
  }
  50% {
    opacity: 1;
  }
  95% {
    opacity: 1;
  }
  100% {
    opacity: 0;
  }
}

@keyframes blinking {
  0% {
    opacity: 0;
  }
  45% {
    opacity: 0;
  }
  50% {
    opacity: 1;
  }
  95% {
    opacity: 1;
  }
  100% {
    opacity: 0;
  }
}

.blinking {
  -webkit-animation: blinking 1s infinite;
          animation: blinking 1s infinite;
}
